.btnsInfosCommandes {
    border-radius: 20px;
    border-style: outset;
    font-family: 'Source Sans Pro', Garamond, Arial;
    font-weight: bold;
    font-size: 25px;
    color:#000000;
    background-color: #978562;
    border-color: #978562;
}

.btnsInfosCommandes:hover {
    transform: scale(1.2);
    transition: 1.5s;
    color:#978562;
    background-color: #ffffff;
}