.picto {
    font-size: 80px;
    color:#000000;
}

h2 {
    color: #000000;
    font-family: 'Lora', Garamond, Arial;
    font-weight: bold;
    font-size: 40px;
}


  /* ======================================================================
MEDIA QUERIES
====================================================================== */

@media screen and (max-width: 575px) {
    
    .picto {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    th {
        font-size: 15px;
    }
}